<div class="grid-container">
  <h1 class="mat-h1">Dashboard</h1>

  <!-- <form [formGroup]="myForm" (ngSubmit)="onSubmit()" class="form-signin">

          <div class="col-10">
            <input matInput placeholder="Search" formControlName="search">
          </div>
          <div class="col"><button class="btn btn-lg btn-primary btn-block" type="submit"
              [disabled]="!myForm.valid">Search</button></div>

        </form> -->

  <mat-grid-list cols="3" rowHeight="2:1">
    <mat-grid-tile style="background-color: darkslategrey;" colspan="2">
      <search></search>
    </mat-grid-tile>
    <mat-grid-tile style="background-color: antiquewhite;">
      <online-users></online-users>
    </mat-grid-tile>
  </mat-grid-list>
</div>
