<div class="grid-container">
  <h1 class="mat-h1">Dashboard</h1>

  <!-- <form [formGroup]="myForm" (ngSubmit)="onSubmit()" class="form-signin">

          <div class="col-10">
            <input matInput placeholder="Search" formControlName="search">
          </div>
          <div class="col"><button class="btn btn-lg btn-primary btn-block" type="submit"
              [disabled]="!myForm.valid">Search</button></div>

        </form> -->

  <mat-grid-list cols="3">
    <mat-grid-tile class="search-block" colspan="2">
      <div class="text-inside-grid">
        <search></search>
      </div>
    </mat-grid-tile>
    <mat-grid-tile class="online-users-block">
      <online-users></online-users>
    </mat-grid-tile>
  </mat-grid-list>
</div>