.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}

.full-width {
  width: 100%;
}


.online-users-block {
  background-color: #fff;
  padding: 20px;
  border-left: 1px solid #e2e2e2;
}


.word-inside-grid  {
  position: absolute;
  right: 0;
  top: 0;
  left: 20px;
  bottom: 0;
  /* background: red; */
  /* overflow-y: scroll; */
  /* height: calc(100% + 50px); */
  /* height: calc(50vh - 90px) */
}
.user-inside-grid  {
  position: absolute;
  right: 0;
  top: 50%;
  left: 20px;
  bottom: 0;
  /* background: blue; */
  /* overflow-y: scroll; */
  /* height: calc(50vh - 90px) */
}

.mat-grid-tile{
  min-height: calc(100vh - 150px);
}

.search-block .mat-figure,
.mat-grid-tile .mat-figure {
  align-items: flex-start !important;
}

.text-inside-grid {
  position: absolute;
  left: 0;
  top: 0;
  right: 20px;
  bottom: 0;
}
