.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}

.full-width { width: 100%;}


.online-users-block{ background-color: #333; padding: 20px;}
.search-block .mat-figure, .mat-grid-tile .mat-figure {align-items: flex-start !important;} 
.text-inside-grid {
  position: absolute;
  left: 0;
  top: 0;
  right: 20px;
  bottom: 0;
}