  em {    margin-top: -14px;
    display: block;
    margin-bottom: 7px;}

    ol {
      margin: 0;
      padding-left: 24px;
    }

  ol.defination li { border-bottom: 1px solid #e2e2e2;
    padding: 20px 0;}

    span {margin: 3px;}